<!-- Menú principal -->
<ul id="menu">
    <!-- Contenido del curso (menú desplegable) -->
    <li class="menu-item">
        <button class="dropdown-btn" data-level="1">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000">
                <path
                    d="M340-540H200q-33 0-56.5-23.5T120-620v-140q0-33 23.5-56.5T200-840h140q33 0 56.5 23.5T420-760v140q0 33-23.5 56.5T340-540Zm-140-80h140v-140H200v140Zm140 500H200q-33 0-56.5-23.5T120-200v-140q0-33 23.5-56.5T200-420h140q33 0 56.5 23.5T420-340v140q0 33-23.5 56.5T340-120Zm-140-80h140v-140H200v140Zm560-340H620q-33 0-56.5-23.5T540-620v-140q0-33 23.5-56.5T620-840h140q33 0 56.5 23.5T840-760v140q0 33-23.5 56.5T760-540Zm-140-80h140v-140H620v140Zm140 500H620q-33 0-56.5-23.5T540-200v-140q0-33 23.5-56.5T620-420h140q33 0 56.5 23.5T840-340v140q0 33-23.5 56.5T760-120Zm-140-80h140v-140H620v140ZM340-620Zm0 280Zm280-280Zm0 280Z" />
            </svg>
            <span><strong>Contenido del Curso</strong></span>
        </button>

        <!-- Primer nivel de submenú -->
        <ul class="sub-menu">
            <li class="menu-item">
                <a href="../index.html" class="menu-link" id="desplegable">
                    <!-- <h4>1</h4>  -->
                    Bienvenida
                </a>
            </li>

            <!-- MODULO 1 -->
            <li class="menu-item">
                <button class="dropdown-btn" data-level="2">
                    <span><strong>Introducción</strong></span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px"
                        fill="#e3e3e3" id="sub_1">
                        <path d="M480-360 280-560h400L480-360Z" />
                    </svg>
                </button>

                <!-- Segundo nivel de submenú -->
                <ul class="sub-menu">
                    <li>
                        <a href="M1_inicio.html" class="menu-link" id="desplegable">
                            <h4>1</h4> Introducción
                        </a>
                    </li>
                    <li>
                        <a href="M1_pagina1.html" class="menu-link" id="desplegable">
                            <h4>2</h4> Objetivos
                        </a>
                    </li>
                    <li>
                        <a href="M1_pagina2.html" class="menu-link" id="desplegable">
                            <h4>3</h4> Definiciones importantes
                        </a>
                    </li>
                </ul>
            </li>

            <!-- MODULO 2 -->
            <li class="menu-item">
                <button class="dropdown-btn" data-level="2">
                    <span><strong>Estándares utilizados</strong></span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px"
                        fill="#e3e3e3" id="sub_1">
                        <path d="M480-360 280-560h400L480-360Z" />
                    </svg>
                </button>

                <!-- Segundo nivel de submenú -->
                <ul class="sub-menu">
                    <li>
                        <a href="M2_inicio.html" class="menu-link" id="desplegable">
                            <h4>1</h4> Introducción
                        </a>
                    </li>
                    <li>
                        <a href="M2_pagina1.html" class="menu-link" id="desplegable">
                            <h4>2</h4> Acuerdos, Estándares y Regulaciones
                        </a>
                    </li>
                    <li>
                        <a href="M2_pagina2.html" class="menu-link" id="desplegable">
                            <h4>3</h4>Riesgos en una Maniobra e Izajes Críticos
                        </a>
                    </li>
                   
                </ul>
            </li>

            <!-- MODULO 3 -->
            <li class="menu-item">
                <button class="dropdown-btn" data-level="2">
                    <span><strong>Aparejamiento de Cargas</strong></span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px"
                        fill="#e3e3e3" id="sub_1">
                        <path d="M480-360 280-560h400L480-360Z" />
                    </svg>
                </button>

                 <!-- Segundo nivel de submenú -->
                 <ul class="sub-menu">
                    <li>
                        <a href="M3_inicio.html" class="menu-link" id="desplegable">
                            <h4>1</h4> Introducción
                        </a>
                    </li>
                    <li>
                        <a href="M3_pagina1.html" class="menu-link" id="desplegable">
                            <h4>2</h4> Importancia y Tipos
                        </a>
                    </li>
                   
                   
                </ul>
            </li>
             <!-- MODULO 4 -->
             <li class="menu-item">
                <button class="dropdown-btn" data-level="2">
                    <span><strong>Señales Estándar de Manos para Grúas Móviles</strong></span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px"
                        fill="#e3e3e3" id="sub_1">
                        <path d="M480-360 280-560h400L480-360Z" />
                    </svg>
                </button>

                 <!-- Segundo nivel de submenú -->
                 <ul class="sub-menu">
                    <li>
                        <a href="M4_inicio.html" class="menu-link" id="desplegable">
                            <h4>1</h4> Introducción
                        </a>
                    </li>
                    <li>
                        <a href="M4_pagina1.html" class="menu-link" id="desplegable">
                            <h4>2</h4> Señales Estándar de Manos para Grúas Móviles – Grúa Articulada
                        </a>
                    </li>
                   
                   
                </ul>
            </li>

            <!-- CONCLUSIONES -->
            <li class="menu-item">
                <a href="conclusiones.html" class="menu-link" id="desplegable">
                    <!-- <h4>1</h4>  -->
                    Conclusiones
                </a>
            </li>
        </ul>
    </li>
</ul>