<ul id="menu">
    <li class="menu-item">
        
        <button class="dropdown-btn" data-level="1">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000">
                <path d="M340-540H200q-33 0-56.5-23.5T120-620v-140q0-33 23.5-56.5T200-840h140q33 0 56.5 23.5T420-760v140q0 33-23.5 56.5T340-540Zm-140-80h140v-140H200v140Zm140 500H200q-33 0-56.5-23.5T120-200v-140q0-33 23.5-56.5T200-420h140q33 0 56.5 23.5T420-340v140q0 33-23.5 56.5T340-120Zm-140-80h140v-140H200v140Zm560-340H620q-33 0-56.5-23.5T540-620v-140q0-33 23.5-56.5T620-840h140q33 0 56.5 23.5T840-760v140q0 33-23.5 56.5T760-540Zm-140-80h140v-140H620v140Zm140 500H620q-33 0-56.5-23.5T540-200v-140q0-33 23.5-56.5T620-420h140q33 0 56.5 23.5T840-340v140q0 33-23.5 56.5T760-120Zm-140-80h140v-140H620v140ZM340-620Zm0 280Zm280-280Zm0 280Z" />
            </svg>
            <span><strong>Contenido del Curso</strong></span>
        </button>

        <ul class="sub-menu">
            <li class="menu-item">
                <a href="../../index.html" class="menu-link">
                    Inicio
                </a>
            </li>

            <li class="menu-item">
                <a href="../../views/M1/M1_inicio.html" class="menu-link">
                    <h4>01</h4> Seguridad
                </a>
            </li>

            <li class="menu-item">
                <a href="../../views/M2/M2_inicio.html" class="menu-link">
                    <h4>02</h4> Descripción e Identificación de Componentes
                </a>
            </li>

            <li class="menu-item">
                <a href="../../views/M3/M3_inicio.html" class="menu-link">
                    <h4>03</h4> Inspección Pre-Operativa
                </a>
            </li>

            <li class="menu-item">
                <a href="../../views/M4/M4_inicio.html" class="menu-link">
                    <h4>04</h4> Técnicas de Operación
                </a>
            </li>

            <li class="menu-item">
                <a href="../../views/M5/M5_inicio.html" class="menu-link">
                    <h4>05</h4> Procedimiento de Operación
                </a>
            </li>
        </ul>
    </li>
</ul>